html{
    height: 100%;
}

body {
    overflow-x: hidden;
    margin:0px;
} /* this makes the header full width*/

h1 {
    padding-left: 4%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.name {
    float: left;
    margin-left: 11.5%;
    background-color:#4aaaa5;
    font-size: 2em;
    font-weight: bold;
    height:58px;
    text-align: center;
    color: #ffffff;
    padding-top: 22px;
    padding-right: 30px;
    padding-left: 30px;
    width:170px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
    background-color: #ffffff;
    border: solid;
    border-color: #cccccc;
    height: 80px;
    text-align: center;
    width: 100%;
    position:relative;
    margin:0;
   
}

nav {
    float: right;
    margin: 0 auto;
    /* position: absolute;
    right: 500px; */
    padding-top:40px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-right:10%;
}

.nav-link{
    border-right: 1px solid #777777
}

.w3-container {
    position: relative;
    bottom:-20px;
    z-index: -100;
    background-color: #ffffff;
    border:solid;
    border-color: #dddddd;
    width: 960px;
    height: 100%;
    /* margin-left:50%; */
    margin: auto;
    margin-bottom:50px;
    Color: #4aaaa5;
    
}

.parent-div{
min-height:490px;
}

#index-hr-top {
    width: 92%;
    margin: auto;
    margin-bottom: 15px;
    border-top: 3px solid #4aaaa5;
}

#index-img{
    float: left;
    height:160px;
    width: 160px;
    padding-right: 15px;
    padding-left: 38px;
}
p {
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 38px;
    padding-right: 38px;
}

footer { 
    background-color: #666666;
    /* position: absolute;  */
    /* bottom: 0; left: 0; right: 0; */
    footer: sticky;
    text-align:center;
    clear: both;
    width:100%;
    height: 30px;
    
}

#footer-c{
    position:absolute;
    padding-bottom: .5%;
    
}

#footer-col{
    color:#dbdbdb;
}

#index-c {
    position: relative;
    bottom: 10px;
}



a {
    padding-right:20px;
    margin-left:10px;
    text-decoration: none;
    border-right: 1px solid #777777 
}



.text-h {
   
    position: absolute;
    left:6px;
    bottom: 20px;
    width: 249.5px;
    margin-left:25px;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    
}

/*gets rid of border*/
#portfolio-b {
    border:none;
}

.portfolio-pics{
    width: 260px;
    height: 200px;
    float:left;
    position:relative;
    left: 1px;
    margin: 20px 0 25px;
    margin-left:30px;
    
}

/* portfolio content*/
.port {
    height:630px;
    margin-bottom: 5%;
}


li{
    margin-bottom: 3%;
}

ul {
    list-style: none;
}

label, input[type=text], input[type=email], textarea {
    margin-bottom: 2px;
    display: block;
   width: 93%;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=text], input[type=email], textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd
}

input[type=submit] {
    padding: 10px 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
    margin: 0 0 10px 40px;
}

textarea {
    height:150px;
}


@media screen and (max-width:980px){

    h1 {
        padding-left: 4%;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }
    
     .name {
        float: left;
        margin-left: 5%;
        background-color:#4aaaa5;
        font-size: 2em;
        font-weight: bold;
        height:58px;
        text-align: center;
        color: #ffffff;
        padding-top: 22px;
        padding-right: 30px;
        padding-left: 30px;
        width:170px;
        font-family: 'Georgia', Times, Times New Roman, serif;
    } 
    
    header {
        background-color: #ffffff;
        border: solid;
        border-color: #cccccc;
        height: 80px;
        text-align: center;
        width: 100%;
        position:relative;
        margin:0;
       
    }
    
    nav {
        float: right;
        margin: 0 auto;
        /* position: absolute;
        right: 500px; */
        padding-top:30px;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding-right:6%;
    
    }

    .w3-container {
        position: relative;
        bottom:-20px;
        z-index: -100;
        background-color: #ffffff;
        border:solid;
        border-color: #dddddd;
        width: 580px;
        height: 100%;
        margin-left:5%;
        margin-bottom:50px;
        Color: #4aaaa5;
        
    }

    .parent-div{
        min-height:490px;
        }
        
   
    /* portfolio content*/
    .port {
    width:620px;
    height:860px;
    margin-bottom: 5%;
}

.portfolio-pics{
    width: 260px;
    height: 200px;
    float:left;
    position:relative;
    left: 15px;
    margin: 20px 0 25px; 
}

.even{
    margin-right: 40px;
}

.text-h {
   
    position: absolute;
    bottom: 20px;
    left:.1px;
    width: 249.5px;
    margin-left:15px;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    
}

/* added only on @media*/
#contact-form{
    padding-right:4%;
}

textarea {
    height:180px;
}

}




@media screen and (max-width:768px){

.name {
    float: left;
    margin-left: 2%;
    background-color:#4aaaa5;
    font-size: 2em;
    font-weight: bold;
    height:58px;
    text-align: center;
    color: #ffffff;
    padding-top: 22px;
    padding-right: 30px;
    padding-left: 30px;
    width:170px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }

 nav {
    float: right;
    margin: 0 auto;
    /* position: absolute;
    right: 500px; */
    padding-top:40px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-right:4%;
    }

.w3-container {
    position: relative;
    bottom:-20px;
    z-index: -100;
    background-color: #ffffff;
    border:solid;
    border-color: #dddddd;
    width: 710px;
    height: 100%;
    margin-left:17.5px;
    margin-bottom: 50px;
    Color: #4aaaa5;
        
    }   

/* portfolio content*/
.port {
    width:710px;
    height:950px;
    margin-bottom: 5;
    }

    .portfolio-pics{
        width: 290px;
        height: 230px;
        float:left;
        position:relative;
        left: 20px;
        margin: 20px 0 25px; 
    } 

    .even{
        margin-right: 50px;
    }
    

    .text-h {
   
        position: absolute;
        bottom: 10px;
        height: 35px;
        width: 280px;
        margin-left:20px;
        padding: 5px;
        padding-top: 5%;
        font-size: 20px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        color: #fff;
        text-align: center;
        background: #4aaaa5;
      
    }

}


@media screen and (max-width:640px){

    header {
        border-style:none;
        display: grid;
        grid-template-columns: auto;
        background-color: #ffffff;
        height: 140px;
        text-align: center;
        width: 100%;
        position:static;
        margin:0;  
    }

    .name {
        float: left;
        margin:0;
        background-color:#4aaaa5;
        font-size: 2em;
        font-weight: bold;
        height:58px;
        text-align: center;
        color: #ffffff;
        padding-top: 22px;
        padding-right: 30px;
        padding-left: 30px;
        width:100%;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }

    nav {
        padding-left:12%;
        padding-top:10px;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        
    }

    .w3-container {
        position: relative;
        bottom:-20px;
        z-index: -100;
        background-color: #ffffff;
        border:solid;
        border-color: #dddddd;
        width: 582px;
        height: 100%;
        /* margin-left:50%; */
        margin-bottom: 50px;
        Color: #4aaaa5;
        
    }

    #index-img{
        height:92%;
        width:92%;
        padding-left:23px;
        margin-bottom: 5%;
        margin-top:5%;
    
    }

    .portfolio-pics{
        width: 535px;
        height: 400px;
        float:left;
        position:relative;
        left: 14px;
        margin: 20px 0 25px; 
    }

    .text-h {
   
        position: absolute;
        bottom: 20px;
        width: 494.5px;
        margin-left:14px;
        padding: 20px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 0;
        font-size:30px;
        font-weight: 300;
        line-height: 30px;
        color: #fff;
        text-align: center;
        background: #4aaaa5;
        
    }

    .port {
        height:2370px;
        margin-bottom: 5%;
    }
    

}
